#populating_table_Takeoff {
    width: 800px;
    height: 300px;
    overflow-y: scroll;
}

#populating_table_OM {
    width: 800px;
    height: 300px;
    overflow-y: scroll;
}

#populating_table_Submittal {
    width: 800px;
    height: 300px;
    overflow-y: scroll;
}

#populating_table_EqWarranty {
    width: 800px;
    height: 300px;
    overflow-y: scroll;
};









