#populating_table_Takeoff_22 {
    width: 800px;
    height: 300px;
    overflow-y: scroll;
}

#populating_table_Takeoff_23 {
    width: 800px;
    height: 300px;
    overflow-y: scroll;
}

#populating_table_Takeoff_26 {
    width: 800px;
    height: 300px;
    overflow-y: scroll;
}


#populating_table_OM_22 {
    width: 800px;
    height: 300px;
    overflow-y: scroll;
}

#populating_table_OM_23 {
    width: 800px;
    height: 300px;
    overflow-y: scroll;
}

#populating_table_OM_26 {
    width: 800px;
    height: 300px;
    overflow-y: scroll;
}




#populating_table_Submittal_22 {
    width: 800px;
    height: 300px;
    overflow-y: scroll;
}

#populating_table_Submittal_23 {
    width: 800px;
    height: 300px;
    overflow-y: scroll;
}

#populating_table_Submittal_26 {
    width: 800px;
    height: 300px;
    overflow-y: scroll;
}



#populating_table_EqWarranty_22 {
    width: 800px;
    height: 300px;
    overflow-y: scroll;
}


#populating_table_EqWarranty_23 {
    width: 800px;
    height: 300px;
    overflow-y: scroll;
}

#populating_table_EqWarranty_26 {
    width: 800px;
    height: 300px;
    overflow-y: scroll;
};








